.motor-container {
  background-color: #fafafa;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.motor-card {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
.motor-sideBar {
  background-color: #fff;
  width: 200px;
  height: 500px;
  position: sticky;
  top: 50px;
  float: left;
}
