.motor-container {
  background-color: #fafafa;
  padding: 6rem 3rem;
}
.motor-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul {
  list-style-type: none;
}

.motor--banner {
  background: rgb(2, 0, 36);
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.5) 0%,
      rgba(26, 26, 117, 0.5) 42%
    ),
    url(../../../src/pages/Home/Sections/image/banner.jpg), no-repeat;

  height: 200px;
}
.motor--unavailable {
  text-align: center;
  font-size: 1.5rem;
  color: #15172b;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .motor-container {
    padding: 2rem 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .motor-container {
    padding: 1rem;
  }
}
