.review-container {
  position: relative;
  bottom: 60px;
}
.review-details {
  background-color: #ffedea;
  padding: 1rem;
  box-shadow: rgba(2, 1, 1, 0.1) 0px 10px 50px;
  border: 6px solid #293462;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.review-container p,
.review-container h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}
.review-container p {
  padding-top: 60px;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}
.review-container h4 {
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.review-author {
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

.quote-icon {
  position: absolute;
  top: 250px;
  left: 20px;
  color: #293462;
}
.prev-btn,
.next-btn {
  font-size: 2rem;
  margin: 1rem;
  background: transparent;
  color: #293462;
  border: none;
}
.prev-btn:hover,
.next-btn:hover {
  color: #f6b100;
  transform: scale(1.5);
}

@media only screen and (max-width: 425px) {
  .quote-icon {
    top: 160px;
  }
}

@media only screen and(max-width: 600px) {
  .quote-icon {
    top: 160px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .review-container {
    top: 40px;
  }
  .quote-icon {
    top: 160px;
  }
}
