.checkout--row {
  display: flex;
  flex-direction: row-reverse;
  padding: 4rem 4rem;
}
.checkout--col {
  flex: 50%;
}
.form--container {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 2rem;
}
.form--heading {
  margin-bottom: 2rem;
  color: #15172b;
  text-transform: capitalize;
}
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #fff;
}

.input:focus ~ .placeholder {
  color: #f6b100;
}

.submit-btn button {
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 100%;
  background: #f6b100;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.submit-btn button:hover,
.submit-btn button:active {
  background: transparent;
  border: 1px solid #15172b;
  cursor: pointer;
}
.reserve--container {
  padding: 2rem 4rem;
}
.reserve-motor__img {
  width: 90%;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  border: 2px dashed#e2ebf0;
}
.rm-bokngHeadngs {
  background: #e2ebf0;
  border-left: 2px solid #15172b;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.rm-bokingSubHeadng span {
  color: #15172b;
  font-size: 1.2rem;
  font-weight: 600;
}
.rm-bokingCost {
  background: #f6b100;
  border-left: 2px solid #15172b;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 1rem;
  color: #15172b;
}
.rm-destn {
  display: flex;
  justify-content: space-between;
}

.rm--content > h2 {
  margin-bottom: 2rem;
}
.rm--name {
  background: #cfd9df;
  padding: 1rem;
  border-left: 2px solid #15172b;
}

@media screen and (max-width: 600px) {
  .checkout--row {
    flex-direction: column-reverse;
    padding: 2rem 1.5rem;
  }
  .reserve--container {
    padding: 1rem;
  }
  .reserve-motor__img {
    width: 100%;
  }
  .rm-bokingSubHeadng span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .checkout--row {
    flex-wrap: wrap-reverse;
    padding: 2rem 1.5rem;
  }
  .reserve-motor__img {
    width: 100%;
  }

  .form--heading {
    text-align: center;
  }
}
