.form--container {
  background-color: #293462;
  width: 100%;
  padding: 2rem 6rem;
  position: relative;
  bottom: 50px;
}
.form--fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form--select,
.form--input {
  background: transparent;
  color: #ffcf00;
  font-size: 1.2rem;
  font-weight: 100;
}
.form--select {
  width: 100%;
}
.form--input {
  border: none;
}
.form--label {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.form--icon {
  margin-right: 1rem;
}
.btn--search button {
  position: relative;
  top: 20px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 100;
  color: #293462;
  background-color: #ffcf00;
  padding: 0.7rem 1.7rem;
  border-radius: 5px;
}
.btn--search button:hover,
button:active {
  background-color: transparent;
  border: 1px solid #ffcf00;
  color: #ffcf00;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .form--container {
    padding: 3rem 1.5rem;
  }
  .form--fields {
    flex-direction: column;
  }
  .form--label {
    margin-top: 1rem;
  }
  .btn--search button {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .form--fields {
    flex-direction: column;
  }
  .form--label {
    margin-top: 1rem;
  }
  .btn--search button {
    width: 100%;
  }
}
