.about-container {
  padding: 2rem 5rem;
  background: #f5f6fa;
}
.about-row {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.about-col {
  flex: 50%;
}
.about-img {
  width: 100%;
  border-radius: 10px;
}
.about-details {
  padding-left: 2rem;
}
.about-caption {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  color: #293462;
  text-transform: capitalize;
}
.about-subCaption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #293462;
}

.about-stats {
  display: flex;
}
.about-stats p {
  font-size: 1rem;
}
.icon {
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 20px;
}
.icon span {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #f6b100;
  font-size: 2rem;
}
