.about-row {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.about-col {
  flex: 50%;
}
.about-img {
  width: 90%;
  clip-path: polygon(
    5% 5%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.about-caption {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.about-subCaption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
/* clip-path: polygon(
  84% 35%,
  68% 26%,
  39% 16%,
  13% 14%,
  5% 24%,
  0% 47%,
  8% 75%,
  26% 98%,
  32% 98%,
  62% 89%,
  62% 88%,
  75% 73%,
  85% 59%,
  91% 44%
); */
.about-stats {
  display: flex;
}
