.row {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
}
.column {
  flex: 33%;
  margin: 1rem;
}
.feature-section h2,
.feature-section p,
.feature-caption {
  color: #293462;
}
.feature-section h2,
.feature-section p {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
  text-align: center;
}
.feature-section h2 {
  padding-top: 5rem;
  font-size: 2rem;
}
.feature-section p {
  font-size: 1.1rem;
}
.feature-caption {
  font-size: 1.3rem;
  text-align: center;
  padding: 1.2rem;
}

.feature-subCaption {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.icon {
  display: block;
  margin: 0 auto;
  width: 30%;
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .row {
    flex-direction: column;
  }
  .column {
    flex: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .row {
    flex-direction: column;
  }
  .column {
    flex: 100%;
  }
}
