.hero-container {
  background-color: #f5f5f5;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}
.heroCaption {
  padding-top: 8.5rem;
  padding-left: 8rem;
  line-height: 1.2;
}
.heroCaption h2 {
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.heroCaption h3 {
  font-weight: 100;
}
.heroCaption p {
  margin-bottom: 1rem;
  font-size: 25px;
}
.heroText_drive {
  color: #f6ae2d;
  text-decoration: line-through;
}
.heroText_ride {
  color: #f6ae2d;
}
.motor--section {
  position: relative;
}
.motor-img {
  position: absolute;
  bottom: 445px;
}
