.navContainer {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  z-index: 9999;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}
.navBrand h1 {
  font-size: 2.2rem;
  color: #293462;
}
.navLogo {
  height: 30px;
}
.navMenu ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 3rem;
}
.navMenu li {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.navMenu a {
  color: #293462;
  text-decoration: none;
  font-weight: 400;
}
.navMenu a:hover,
.navMenu a:active {
  color: #ffcf00;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #ffcf00;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #293462;
}
.sticky a,
.sticky h1 {
  color: #fff;
}
.sticky a:hover,
.sticky a:active {
  color: #ffcf00;
}
.nm--icon {
  /* display: none; */
}
/* Media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navMenu {
    display: none;
  }
  .nm--icon {
    display: block;
    border: 2px solid red;
  }
}
