.navBar {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  padding: 1rem 5rem;
  top: 0;
  z-index: 9999;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}
.navBrand {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  color: #293462;
}
.navLogo {
  height: 30px;
}
.navBar--container,
.navMenu,
.navMenu--item {
  display: flex;
}
.navBar--container {
  align-items: center;
  justify-content: space-between;
}
.navMenu {
  list-style: none;
}

.navMenu--icon {
  display: none;
}
.navMenu--item {
  text-decoration: none;
  padding: 1rem;
  color: #293462;
  font-weight: 400;
}
.navMenu--item:hover,
.navMenu--item:active {
  color: #ffcf00;
  border-bottom: 1px solid #ffcf00;
  transition: all 0.5s ease-in-out;
}

/* responsive navbar */
@media only screen and (max-width: 960px) {
  .navBar {
    position: sticky;
    height: 80px;
  }
  .navMenu--icon {
    display: block;
    position: absolute;
    top: 10;
    right: 0;
    padding: 1rem;
  }
  .navMenu {
    display: none;
  }
  .navBrand {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
  }

  .navMenu--active {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0%;
    background-color: #293462;
    opacity: 0.8;
    transition: all 0.5s ease;
  }
  .navMenu--item {
    color: #fff;
  }
  .navMenu--item:hover,
  .navMenu--item:active {
    cursor: pointer;
    color: #ffcf00;
    border: 2px dashed #ffcf00;
    font-weight: 500;
  }
}
